body {
    background-color: black;
  }
.list-group {
  width: 500px;
  background: black;
  margin-left: 150px;
}
.list-group-item{
  padding: 17px;
}
.btn{
  display: inline-block;
  margin-top: 5px;
  margin-left: 470px;
}
.rep{
  align-items: center;
}
.btn-sm {
  display: inline-block;
  padding: 15px;
  background-color: green;
}

 
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
